@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body,
  html {
    @apply bg-[#151515] text-white font-space;
  }
  h2{
    @apply text-nav font-bold
  }
  p {
    @apply text-[#D9D9D9] text-paragraph;
  }
  span,
  a {
    @apply underline decoration-[#4EE1A0] decoration-2;
  }
  a {
    @apply w-[120px] h-[38px] underline-offset-[18px]  text-paragraph font-bold tracking-[2.28571px];
  }
}

@layer components {
  .skill {
    @apply font-bold tracking-[-1.5px] text-skills;
  }
  .skillGrid {
    @apply grid grid-cols-skills grid-rows-skills gap-y-6 border-y  mx-4 my-20 py-10  text-center;
  }

  .skill > p {
    @apply text-paragraph;
  }
  .projectSection {
    @apply w-auto mb-20;
  }
  .projectHeader {
    @apply flex justify-between mb-10 p-4;
  }
  .projectList{
    @apply grid grid-cols-project grid-rows-project gap-y-[60px] m-auto
  }
  .projectTitle{
    @apply text-projectTitle mt-4;
  }
  .projectItem{
    @apply w-[343px] m-auto
  }
  .builtBy{
    @apply flex flex-row text-builtBy mt-[7px];
  }
  .projectLinks{
    @apply flex mt-5 gap-[30px];
  }
  .footer{
    @apply bg-[#242424] h-[834px] 
  }
  .contact{
    @apply w-[343px] mx-auto pt-[60px] text-center
  }
  
}
